body {
    background-color: #f2f6fc;
}

.dashboardsNumber {
    background-color: #cdf5e3;
    color: #56dda2;
    border-radius: 5px 5px 5px 5px;
    display: inline-block;
    border-style: ridge;
    border-color: #00cc74;
}

.C{
    color: #1c90ff;
    background-color: #d2e9ff;
}
.D{
    color: #56dda2;
    background-color: #cdf5e3;
}
.F{
    color: #b37feb;
    background-color: #f0e5fb;
}

table{
    border-collapse: separate;
    border-spacing: 0px 15px;
}

td{
    width: 150px;
    text-align: center;
    padding: 5px;
    background-color: white;
}

/* Make table row with rounded borders
 */

/* Set border-radius on the top-left and bottom-left of the first table data on the table row
 */
td:first-child,
th:first-child {
  border-radius: 10px 0 0 10px;
}
/* Set border-radius on the top-left and bottom-left of the first table data on the table row
 */
td:last-child,
th:last-child {
  border-radius: 0 10px 10px 0;
}