body {
    background-color: #f2f6fc;
}

.dashboardsNumber {
    color: #00CC74;
    display: inline-block;

    /* GreenOpacity */
    background: #CCF5E3;

    /* Green */
    border: 1px solid #00CC74;
    border-radius: 4px;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 16px;
    gap: 10px;

}

.user {
    /* Paragraph Regular */

    /* font-family: 'Roboto'; */
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;


    /* Dark Grey */

    color: #52594D;
}

.project {
    /* Header 3 */

    /* font-family: 'Roboto Medium'; */
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */


    /* Dark Blue */

    color: #223273;

}

.C {
    color: #1c90ff;
    background-color: #d2e9ff;
}

.D {
    color: #56dda2;
    background-color: #cdf5e3;
}

.F {
    color: #b37feb;
    background-color: #f0e5fb;
}

.side-C {
    background-color: #1c90ff;
    display: table-cell;
    width: 10px;
    overflow: hidden;

    width: 10.5px;
    height: 70px;
    border-radius: 4px 0px 0px 4px
}

.side-D {
    background-color: #56dda2;
    display: table-cell;
    width: 10px;
    overflow: hidden;

    width: 10.5px;
    height: 70px;
    border-radius: 4px 0px 0px 4px
}

.side-F {
    background-color: #b37feb;
    display: table-cell;
    width: 10px;
    overflow: hidden;

    width: 10.5px;
    height: 70px;
    border-radius: 4px 0px 0px 4px
}

table {
    border-collapse: separate;
    border-spacing: 0px 15px;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-bottom: auto;
    overflow-y: scroll;
    width:70%
}

tr{
    box-shadow: 0px 4px 20px rgba(120, 120, 120, 0.15);
}

td {
    width: 150px;
    height: 5em;
    text-align: center;
    padding: 5px;
    background-color: white;
}

/* Make table row with rounded borders
 */

/* Set border-radius on the top-left and bottom-left of the first table data on the table row
 */
td:first-child,
th:first-child {
    border-radius: 10px 0 0 10px;
}

/* Set border-radius on the top-left and bottom-left of the first table data on the table row
 */
td:last-child,
th:last-child {
    border-radius: 0 10px 10px 0;
}

nav {
    height: 62px;
    border-bottom-style: groove;

}

/* #table-container {
    width: 800px;
    margin: 0 auto;
    overflow-y: scroll;
    height: 400px;
    margin-top: 260px;
} */



/* nav>* {
    display: inline-block;
} */