@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900,300light);

table {
    border-collapse: separate;
    border-spacing: 0px 15px;
    /* margin-left: 10%;
    margin-right: 10%; 
    width: 80%;
    */
    overflow-y: scroll;
    table-layout: auto;
    width: 100%;
}

tr {
    box-shadow: 0px 4px 20px rgba(120, 120, 120, 0.15);
}

td {
    width: 250px;
    height: 5em;
    text-align: center;
    padding: 5px;
    background-color: white;
}

/* Make table row with rounded borders
 */
/* Set border-radius on the top-left and bottom-left of the first table data on the table row
 */
td:first-child,
th:first-child {
    border-radius: 10px 0 0 10px;
}

/* Set border-radius on the top-left and bottom-left of the first table data on the table row
 */
td:last-child,
th:last-child {
    border-radius: 0 10px 10px 0;
}

.row {
    width: 200px;
    height: 5em;
    text-align: center;
    padding: 5px;
    background-color: white;
}

.desktop {
    width: 100%;
    overflow-y: scroll;
    table-layout: auto;
    max-height: 510px;
}


body {
    background-color: #f2f6fc;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

/* Hide mobile welcome message */
.mobileHeader {
    display: none;
}

/* Hide mobile porjects list */
.mobile {
    display: none;
}


.anticon-menu {
    display: none;
}

#name {
    /* Set name font */
    /* Header 3 */
    font-family: 'Roboto';
    font-style: medium;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */

    /* Set name color */
    /* Dark Blue */
    color: #223273;

    /* Show user name in the nav bar for desktop */
    display: inline-block;
}

.site-page-header {
    border-bottom: 1px solid #C4C4C4;
}

.dashboardsNumber {
    color: #00CC74;
    display: inline-block;

    /* GreenOpacity */
    background: #CCF5E3;

    /* Green */
    border: 1px solid #00CC74;
    border-radius: 4px;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 16px;
    gap: 10px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    /* identical to box */

}

.user {
    /* Paragraph Regular */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;


    /* Dark Grey */
    color: #52594D;
}

.project {
    /* Header 3 */

    /* font-family: 'Roboto Medium'; */
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */


    /* Dark Blue */
    color: #223273;

}

/* Define avatar color for mobile and dektop*/
.avatar-C {
    color: #00CC74;
    background-color: #CCF5E3;
}

.avatar-D {
    color: #1c90ff;
    background-color: #d2e9ff;
}

.avatar-F {
    color: #b37feb;
    background-color: #f0e5fb;
}


nav {
    height: 62px;
    justify-content: center;
    border-bottom-style: groove;
    /* margin-left: 10%;
    margin-right: 10%; */
}

.left-menu,
.right-menu {
    text-align: center;
    text-decoration: none;
    top: 197px;
    /* width: 128px; */
    /* max-width: 128px; */
}

.left-menu,
.right-menu > *{
    margin: 10px;
}

.left-menu {
    float: left;
}

.right-menu {
    float: right;
}

/* Adapt search bar for desktop */
/* #search {
    box-sizing: border-box;
    width: 200px;
    height: 2.5em;
    bottom: 0%;
    border-radius: 8px;
    border: 1px solid #C4C4C4;
    background: #FFFFFF;
    flex-shrink: 0;
    float: right; */

/* Paragraph Regular */

/* font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px; */
/* identical to box height, or 157% */


/* Middle Grey */

/* color: #787878;
} */


.tabAndSearch {
    display: inline-block;
    position: relative;
    margin-top: 10%;
    width: 100%;
}

@media all and (max-width: 800px) {
    .site-page-header {
        border-bottom: none
    }

    nav {
        height: 62px;
        justify-content: center;
        border-bottom-style: none;
        /* margin-left: 10%;
        margin-right: 10%; */
    }

    /* Hide desktop project list */
    .desktop {
        display: none;
    }

    /* Show mobile project list */
    .mobile {
        display: inline-block;
    }

    /* Show elcome message in mobile */
    .mobileHeader {
        display: block;
        margin-bottom: 0%;
    }

    /* Hello Sarah! */
    .mobileHeader>h1 {
        width: 137px;
        height: 38px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 38px;
        /* identical to box height, or 158% */

        letter-spacing: 0.02em;

        /* Dark Blue */

        color: #223273;
    }

    /* Here you can find your projects and dashboards. */
    .mobileHeader>p {
        width: 337px;
        height: 20px;
        left: 24px;
        top: 120px;

        font-family: 'Roboto';
        font-style: light;
        font-size: 14px;
        line-height: 20px;
        /* identical to box height, or 143% */

        letter-spacing: 0.02em;

        /* Dark Blue */

        color: #223273;
    }

    /* Hide username in the navbar for mobile */
    #name {
        display: none;
    }

    /* Adapt search bar for mobile */
    #search {
        box-sizing: border-box;
        width: 100%;
        height: 2.5em;
        bottom: 0%;
        border-radius: 8px;
        border: 1px solid #C4C4C4;
        background: #FFFFFF;
        flex-shrink: 0;

        /*
        float: right;
         margin-left: 10%;
        margin-right: 10%; */

        /* Paragraph Regular */

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        /* identical to box height, or 157% */


        /* Middle Grey */

        color: #787878;
    }


    .anticon-menu {
        display: inline-block;
        left: 0%;
    }

    .left-menu,
    .right-menu {
        text-align: center;
        text-decoration: none;
        top: 197px;
        /* width: 128px; */
        /* max-width: 128px; */
    }

    .left-menu,
    .right-menu > *{
        margin: 10px;
    }

    .left-menu {
        float: left;
    }

    .right-menu {
        float: right;
    }
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */